# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib


# Virtual environments
.venv/
venv/
env/
pip-wheel-metadata/

# Logs and caches
*.log
logs/
.cache/
*.sqlite3
*.db

# IDE / Editor config files
.vscode/
.idea/
*.swp
*.swo

# Streamlit temporary files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker and deployment files
docker-compose.override.yml
.env
.env.local
